/* Style input fields and textareas */
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
textarea {
    background-color: #2e2323;
    /* Search field tik laukelio spalva */
    color: #ffffff;
    /* Pokyčių nematau */
    border: 2px solid #816d6d;
    /* Search field boarder spalva */
    border-radius: 6px;
}

/* Kontaktinės formos dizainas*/
input[type="email"] {
    background-color: #2e2323 !important;
    color: #ffffff !important;
    border: 1px solid #816d6d !important;
}

textarea {
    background-color: #2e2323 !important;
    color: #ffffff !important;
    border: 1px solid #816d6d !important;
}

button[type="submit"] {
    background-color: #816d6d !important;
    color: #000000 !important;
    border: none !important;
    border-radius: 4px;
    padding: 0.5rem 1.2rem;
    cursor: pointer;
}

/* Sumazinto menu backgroundas Background color for sidebar section titles like "Dental" */
.md-nav__title {
    background-color: #2E2823 !important;
    color: #C7BA9D !important;
    padding: 0.3rem 0.6rem;
    border-radius: 6px;
}