/* Style header background and text color */
.md-header {
    background-color: #2E2823;
    color: #ffffff;
}

/* Style links and title in header */
.md-header a,
.md-header .md-header__title {
    color: #ffffff;
}

/* Style sidebar background and text */
.md-sidebar__inner {
    background-color: #2E2823;
    color: #ffffff;
}

/* Style navigation links and titles */
.md-nav__link,
.md-nav__title {
    color: #ffffff;
}

/* Highlight active and hovered navigation links */
.md-nav__link--active,
.md-nav__link:focus,
.md-nav__link:hover {
    color: #FFD580;
}

/* Remove shadows and set background for sidebar and navigation */
.md-sidebar__inner,
.md-nav__title,
.md-nav,
.md-nav__list,
.md-nav__item,
.md-nav__link,
.md-nav--primary .md-nav__title,
.md-nav--secondary .md-nav__title {
    box-shadow: none;
    background-color: #2E2823;
}

/* Style secondary sidebar background and remove shadow */
.md-content__inner .md-sidebar--secondary {
    background-color: #2E2823;
    box-shadow: none;
}

/* Add padding and background color to main content */
.md-content {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #1E1B19;
}