/* Pagrindinės spalvos */
[data-md-color-scheme="default"] {
    --md-primary-fg-color: #CCC;
    /* kairiojo meniu pasirintas punktas */
    --md-primary-bg-color: #1F1F1F;
    /* searcho padidinamasis stiklas ikona */
    --md-accent-fg-color: #93c5fd;
    /* hoverinimo spalva, searcho isjungimo rastu sutampanciu zodziu spalva */
    --md-default-bg-color: #181818;
    /* backgroundas "uz visko" */
}