/* Viršutinės juostos spalva headeris*/
.md-header {
    background-color: #2e2323;
}

/* Prie logo "Proimplat gidas"spalva//Style links and title in header */
.md-header a,
.md-header .md-header__title {
    color: #ffffff;
}

/* Meniu blokų pasirenkamų linkų spalva(kairė) ir dešnio meniu bloko "table of contents"spalva */
.md-nav__link,
.md-nav__title {
    color: #ffffff;
}

/* Kairiojo ir dešniojo meniu bloko backgroundas*/
.md-sidebar__inner,
.md-nav__title,
.md-nav,
.md-nav__list,
.md-nav__item,
.md-nav__link,
.md-nav--primary .md-nav__title,
.md-nav--secondary .md-nav__title {
    box-shadow: none;
    background-color: #2E2823;
}

/* Pagrindinė informacijos dalis - turinio fonas */
.md-content {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #1D1B19;
}

/* Footer background and text color */
.md-footer {
    background-color: #2E2323;
    color: #ffffff;
}

/* Footer links */
.md-footer a {
    color: #FFD580;
}

.md-footer a:hover {
    text-decoration: underline;
}

.md-footer-meta__inner {
    background: transparent !important;
    box-shadow: none !important;
    border-top: none !important;
}

.md-header,
.md-footer {
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border-radius: 0;
}