/* Paprasto teksto spalva */
.md-typeset {
    color: #F2F2F2;
}

/* headings spalva */
.md-typeset h1,
.md-typeset h2,
.md-typeset h3 {
    color: #ffffff;
}

/* Linko spalva */
.md-typeset a {
    color: #FFD580;
}

/* Style emphasized text listo su paaiskinimu spalva */
em {
    color: #d9cba0;
    font-style: italic;
}

/* bold spava */
strong {
    color: #ffffff;
    font-weight: bold;
}

/* Lentelės pavadinimas */
.md-nav__title {
    color: #b6944f;
}

/* Menu kategorijos */
.md-ellipsis {
    color: #c8b99d;
    /* Replace with your desired color */
}