/* Paprasto teksto spalva */
.md-typeset {
    color: #CCC;
}

/* headings spalva */
.md-typeset h1,
.md-typeset h2,
.md-typeset h3 {
    color: #FFF;
}

/* Linko spalva */
.md-typeset a {
    color: #93c5fd;
}

/* Style emphasized text listo su paaiskinimu spalva */
em {
    color: #d1ccc7;
    font-style: italic;
}

/* bold spava */
strong {
    color: #FFF;
    font-weight: bold;
}

/* Lentelės pavadinimas */
.md-nav__title {
    color: #ccc;
}

/* Menu kategorijos */
.md-ellipsis {
    color: #aaa;
    /* Replace with your desired color */
}